/* line 1, ../../sass/all/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 14, ../../sass/all/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 18, ../../sass/all/reset.scss */
img, fieldset, a img {
  border: none;
}

/* line 21, ../../sass/all/reset.scss */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

/* line 27, ../../sass/all/reset.scss */
input[type="submit"],
button {
  cursor: pointer;
}
/* line 30, ../../sass/all/reset.scss */
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 35, ../../sass/all/reset.scss */
textarea {
  overflow: auto;
}

/* line 38, ../../sass/all/reset.scss */
input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 43, ../../sass/all/reset.scss */
div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

/* line 47, ../../sass/all/reset.scss */
ul, ol {
  list-style-type: none;
}

/* line 50, ../../sass/all/reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/* line 55, ../../sass/all/reset.scss */
html {
  box-sizing: border-box;
}

/* line 58, ../../sass/all/reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 62, ../../sass/all/reset.scss */
a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  /* line 67, ../../sass/all/reset.scss */
  * {
    transition: none !important;
  }
}
