/* line 1, ../../sass/all/wrapper.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 6, ../../sass/all/wrapper.scss */
footer {
  margin-top: auto;
}

/* line 10, ../../sass/all/wrapper.scss */
.wrapper {
  width: 100%;
}

/* line 14, ../../sass/all/wrapper.scss */
.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0;
}

/* line 20, ../../sass/all/wrapper.scss */
.column, .columns {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 26, ../../sass/all/wrapper.scss */
.content {
  overflow: hidden;
}

/* line 30, ../../sass/all/wrapper.scss */
.container .sixteen.columns {
  width: 1190px;
}

/* line 34, ../../sass/all/wrapper.scss */
.position-relative {
  position: relative;
  overflow: hidden;
}
