/* line 1, ../../sass/all/wrapper.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 6, ../../sass/all/wrapper.scss */
footer {
  margin-top: auto;
}

/* line 10, ../../sass/all/wrapper.scss */
.wrapper {
  width: 100%;
}

/* line 14, ../../sass/all/wrapper.scss */
.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0;
}

/* line 20, ../../sass/all/wrapper.scss */
.column, .columns {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 26, ../../sass/all/wrapper.scss */
.content {
  overflow: hidden;
}

/* line 30, ../../sass/all/wrapper.scss */
.container .sixteen.columns {
  width: 1190px;
}

/* line 34, ../../sass/all/wrapper.scss */
.position-relative {
  position: relative;
  overflow: hidden;
}

/* line 4, ../../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../../../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}

/* line 4, ../../sass/all/footer.scss */
footer {
  background-color: #bdd684;
  padding-top: 30px;
}

/* line 11, ../../sass/all/footer.scss */
.footer-about ul li {
  display: block;
  margin-bottom: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
/* line 18, ../../sass/all/footer.scss */
.footer-about ul li.first {
  margin-bottom: 15px;
  font-size: 24px;
}

/* line 26, ../../sass/all/footer.scss */
.footer-copyright {
  text-align: right;
  margin-bottom: 10px;
}
/* line 30, ../../sass/all/footer.scss */
.footer-copyright p {
  font-size: 12px;
  font-weight: 400;
}
