/* line 1, ../../sass/all/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 14, ../../sass/all/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 18, ../../sass/all/reset.scss */
img, fieldset, a img {
  border: none;
}

/* line 21, ../../sass/all/reset.scss */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

/* line 27, ../../sass/all/reset.scss */
input[type="submit"],
button {
  cursor: pointer;
}
/* line 30, ../../sass/all/reset.scss */
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 35, ../../sass/all/reset.scss */
textarea {
  overflow: auto;
}

/* line 38, ../../sass/all/reset.scss */
input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 43, ../../sass/all/reset.scss */
div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

/* line 47, ../../sass/all/reset.scss */
ul, ol {
  list-style-type: none;
}

/* line 50, ../../sass/all/reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/* line 55, ../../sass/all/reset.scss */
html {
  box-sizing: border-box;
}

/* line 58, ../../sass/all/reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 62, ../../sass/all/reset.scss */
a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  /* line 67, ../../sass/all/reset.scss */
  * {
    transition: none !important;
  }
}
/* line 1, ../../sass/all/wrapper.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* line 6, ../../sass/all/wrapper.scss */
footer {
  margin-top: auto;
}

/* line 10, ../../sass/all/wrapper.scss */
.wrapper {
  width: 100%;
}

/* line 14, ../../sass/all/wrapper.scss */
.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0;
}

/* line 20, ../../sass/all/wrapper.scss */
.column, .columns {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 26, ../../sass/all/wrapper.scss */
.content {
  overflow: hidden;
}

/* line 30, ../../sass/all/wrapper.scss */
.container .sixteen.columns {
  width: 1190px;
}

/* line 34, ../../sass/all/wrapper.scss */
.position-relative {
  position: relative;
  overflow: hidden;
}

/* line 4, ../../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../../../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}

/* line 6, ../../sass/all/header.scss */
body {
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  color: 10222b;
  font-family: Exo2-Regular, sans-serif;
  overflow-x: hidden;
}

/* line 16, ../../sass/all/header.scss */
.hidden {
  display: none;
}

/* line 20, ../../sass/all/header.scss */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 75px;
  text-align: center;
}

/* line 28, ../../sass/all/header.scss */
#header {
  position: relative;
  padding-top: 12px;
  box-sizing: border-box;
  background-color: #bdd684;
}

/* line 35, ../../sass/all/header.scss */
.header-top {
  position: relative;
  width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* line 45, ../../sass/all/header.scss */
.header-top_social ul {
  font-size: 0;
}
/* line 48, ../../sass/all/header.scss */
.header-top_social ul li {
  display: inline-block;
  margin-right: 15px;
}
/* line 51, ../../sass/all/header.scss */
.header-top_social ul li a {
  font-size: 20px;
  line-height: 14px;
}
/* line 56, ../../sass/all/header.scss */
.header-top_social ul li a:hover svg {
  opacity: .7;
}
/* line 60, ../../sass/all/header.scss */
.header-top_social ul li a svg {
  width: 20px;
  height: 20px;
}
/* line 64, ../../sass/all/header.scss */
.header-top_social ul li a svg .svg_soc-v, .header-top_social ul li a svg .svg_soc-f {
  fill: #10222b;
  transition: all .1s;
}

/* line 75, ../../sass/all/header.scss */
.header-top_user {
  position: relative;
  margin-bottom: -2px;
}

/* line 80, ../../sass/all/header.scss */
.header-top_user_search {
  position: relative;
  display: inline-block;
}
/* line 84, ../../sass/all/header.scss */
.header-top_user_search a {
  width: 126px;
  display: block;
}
/* line 88, ../../sass/all/header.scss */
.header-top_user_search a:before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 97px;
  border-bottom: 1px solid #10222b;
}
/* line 95, ../../sass/all/header.scss */
.header-top_user_search a:hover {
  opacity: .7;
}
/* line 98, ../../sass/all/header.scss */
.header-top_user_search a svg {
  width: 22px;
  height: 22px;
}
/* line 102, ../../sass/all/header.scss */
.header-top_user_search a svg .svg_search {
  stroke: #10222b;
  transition: all .1s;
}

/* line 110, ../../sass/all/header.scss */
.header-top_user_log {
  position: relative;
  display: inline-block;
}
/* line 113, ../../sass/all/header.scss */
.header-top_user_log a {
  margin-left: 8px;
}
/* line 115, ../../sass/all/header.scss */
.header-top_user_log a svg {
  width: 22px;
  height: 22px;
}
/* line 119, ../../sass/all/header.scss */
.header-top_user_log a svg .svg_user {
  fill: #10222b;
  transition: all .1s;
}
/* line 125, ../../sass/all/header.scss */
.header-top_user_log a:hover {
  opacity: .7;
}

/* line 131, ../../sass/all/header.scss */
#nav {
  padding-bottom: 26px;
}

/* line 137, ../../sass/all/header.scss */
.header-title h1 {
  margin-top: 25px;
  margin-bottom: 22px;
  line-height: 1;
}

/* line 144, ../../sass/all/header.scss */
.header-nav {
  width: 855px;
  margin: 0 auto;
}
/* line 148, ../../sass/all/header.scss */
.header-nav ul {
  display: flex;
  justify-content: space-around;
}
/* line 151, ../../sass/all/header.scss */
.header-nav ul li {
  display: inline-block;
  font-family: 'Exo 2 Medium';
  font-size: 16px;
  text-transform: uppercase;
}
/* line 157, ../../sass/all/header.scss */
.header-nav ul li a {
  color: #10222b;
  transition: all .1s;
}
/* line 162, ../../sass/all/header.scss */
.header-nav ul li a:hover {
  opacity: .6;
}
/* line 169, ../../sass/all/header.scss */
.header-nav ul li.active a {
  color: rgba(16, 34, 43, 0.6);
}
