/* line 4, ../../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}
