/* line 4, ../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}

/* line 7, ../sass/articles.scss */
.articles_pub {
  display: flex;
  margin-bottom: 120px;
}
/* line 11, ../sass/articles.scss */
.articles_pub:nth-last-child(1) {
  margin-bottom: 60px;
}

/* line 17, ../sass/articles.scss */
.articles_pub_date {
  margin-right: 4%;
  display: flex;
}
/* line 21, ../sass/articles.scss */
.articles_pub_date time {
  font-size: 30px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.75;
  margin-right: 10px;
}
/* line 29, ../sass/articles.scss */
.articles_pub_date time span {
  margin-bottom: 10px;
  display: block;
  font-size: 60px;
}
/* line 35, ../sass/articles.scss */
.articles_pub_date:after {
  content: '';
  height: 70%;
  width: 2px;
  background-color: #bdd684;
  display: inline-block;
}

/* line 44, ../sass/articles.scss */
.articles_pub_img {
  margin-right: 4%;
  width: 490px;
  height: 320px;
}
/* line 49, ../sass/articles.scss */
.articles_pub_img img {
  width: 100%;
  height: 100%;
}

/* line 55, ../sass/articles.scss */
.articles_pub_text {
  width: 40%;
}
/* line 58, ../sass/articles.scss */
.articles_pub_text .articles_pub_text-info {
  padding-bottom: 47px;
  border-bottom: 2px solid #bdd684;
  margin-bottom: 4%;
}
/* line 63, ../sass/articles.scss */
.articles_pub_text .articles_pub_text-info h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 17px;
  margin-top: -3px;
}
/* line 70, ../sass/articles.scss */
.articles_pub_text .articles_pub_text-info p {
  height: 187px;
  font-size: 18px;
  overflow: hidden;
  line-height: 1.3;
  text-overflow: ellipsis;
}
/* line 81, ../sass/articles.scss */
.articles_pub_text .articles_pub_text-more a {
  font-size: 24px;
  color: #10222b;
  display: flex;
  align-items: center;
}
/* line 87, ../sass/articles.scss */
.articles_pub_text .articles_pub_text-more a:after {
  content: '';
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
}
/* line 98, ../sass/articles.scss */
.articles_pub_text .articles_pub_text-more a:hover:after {
  transform: translate(7px, 0);
  opacity: 1;
}
