/* line 4, ../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}

/* line 7, ../sass/articles-post.scss */
.articles-post-top {
  display: flex;
  flex-direction: row-reverse;
}
/* line 11, ../sass/articles-post.scss */
.articles-post-top .articles-post-top_title {
  margin-top: 25px;
  position: relative;
  height: 450px;
  width: 630px;
  background-color: #10222b;
}
/* line 18, ../sass/articles-post.scss */
.articles-post-top .articles-post-top_title h2 {
  background-color: #fff;
  padding: 80px 40px 80px 60px;
  position: absolute;
  left: -25%;
  top: 25%;
  z-index: 10;
  font-size: 36px;
  max-width: 98%;
  font-weight: inherit;
}
/* line 31, ../sass/articles-post.scss */
.articles-post-top .articles-post-top_img {
  width: 1000px;
  z-index: 5;
}
/* line 35, ../sass/articles-post.scss */
.articles-post-top .articles-post-top_img img {
  width: 100%;
}

/* line 42, ../sass/articles-post.scss */
.articles-post-text {
  margin-top: 40px;
}
/* line 45, ../sass/articles-post.scss */
.articles-post-text p {
  text-indent: 40px;
  font-weight: normal;
  line-height: 1.3;
  padding-bottom: 15px;
  text-align: justify;
  border-bottom: 2px solid #bdd684;
}
/* line 53, ../sass/articles-post.scss */
.articles-post-text p a {
  color: #bdd684;
}
/* line 57, ../sass/articles-post.scss */
.articles-post-text p ul {
  margin-bottom: 15px;
}
/* line 60, ../sass/articles-post.scss */
.articles-post-text p ul li {
  margin-bottom: 10px;
}
/* line 64, ../sass/articles-post.scss */
.articles-post-text p:first-letter {
  font-size: 34px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 70, ../sass/articles-post.scss */
.articles-post-text img {
  float: left;
  max-width: 500px;
  max-height: 400px;
  margin-bottom: 30px;
  margin-right: 30px;
}
/* line 78, ../sass/articles-post.scss */
.articles-post-text img:nth-of-type(even) {
  float: right;
  margin-left: 30px;
  margin-right: 0;
}
