/* line 4, ../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}

/* line 5, ../sass/gallery.scss */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

/* line 10, ../sass/gallery.scss */
.gallery-item {
  width: 33.33%;
  padding: 0 20px;
  margin-bottom: 40px;
}

/* line 16, ../sass/gallery.scss */
.gallery-item_img {
  margin-bottom: 20px;
}
/* line 19, ../sass/gallery.scss */
.gallery-item_img img {
  width: 100%;
}

/* line 24, ../sass/gallery.scss */
.gallery-item_title {
  text-align: center;
  display: block;
}
/* line 28, ../sass/gallery.scss */
.gallery-item_title a {
  color: #10222b;
}
/* line 31, ../sass/gallery.scss */
.gallery-item_title a h2 {
  font-size: 30px;
}
/* line 35, ../sass/gallery.scss */
.gallery-item_title a h3 {
  font-size: 14px;
  font-style: italic;
}
