/* line 4, ../sass/all/vars.scss */
a:hover {
  opacity: .7;
}

/* line 7, ../sass/all/vars.scss */
.Back a {
  width: 34px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  background: url(../img/icon-arrow.svg) center no-repeat;
  background-size: 34px;
  transition: all .2s;
  margin-bottom: 40px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
}
/* line 20, ../sass/all/vars.scss */
.Back a:hover {
  transform: translate(-7px, 0);
  opacity: 1;
}

/* line 26, ../sass/all/vars.scss */
.Border {
  width: 200px;
  height: 2px;
  background-color: #bdd684;
  display: none;
  margin: 40px 0;
}

/* line 3, ../sass/index/index-slider.scss */
.slider-top {
  margin-bottom: 60px;
}
/* line 6, ../sass/index/index-slider.scss */
.slider-top .owl-carousel {
  margin: 0 auto;
}
/* line 11, ../sass/index/index-slider.scss */
.slider-top .owl-carousel .owl-item img {
  height: 700px;
  width: auto;
  margin: 0 auto;
}
/* line 18, ../sass/index/index-slider.scss */
.slider-top .owl-carousel .slider-top-01 {
  position: relative;
}
/* line 21, ../sass/index/index-slider.scss */
.slider-top .owl-carousel .slider-top-01 h3 {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  right: 0;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  padding: 5px 40px;
  background-color: rgba(16, 34, 43, 0.75);
}
