/* line 3, ../sass/enter.scss */
.enter-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 5px;
}
/* line 9, ../sass/enter.scss */
.enter-form h3 {
  text-align: center;
  background-color: #10222b;
  border: 1px solid #10222b;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  font-family: 'Exo 2 Light', sans-serif;
  font-weight: normal;
}
/* line 21, ../sass/enter.scss */
.enter-form form {
  font-family: 'Exo 2 Light', sans-serif;
  text-align: center;
}
/* line 25, ../sass/enter.scss */
.enter-form form #loginform-email, .enter-form form #loginform-password {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #bdd684;
  height: 45px;
  padding: 0 15px;
  line-height: 45px;
  outline: none;
  color: #10222b;
  font-size: 1rem;
}
/* line 38, ../sass/enter.scss */
.enter-form form #loginform-email {
  border-bottom: none;
}
/* line 42, ../sass/enter.scss */
.enter-form form .enter-form_bottom {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
/* line 48, ../sass/enter.scss */
.enter-form form .enter-form_bottom label {
  height: 45px;
  padding: 0 15px;
  line-height: 45px;
  outline: none;
  color: #10222b;
  font-size: 1rem;
}
/* line 57, ../sass/enter.scss */
.enter-form form .enter-form_bottom checkbox {
  border: 1px solid #bdd684;
}
/* line 62, ../sass/enter.scss */
.enter-form form .enter-form_bottom button {
  font-family: 'Exo 2 Light', sans-serif;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  outline: none;
  color: #10222b;
  font-size: 1rem;
  background-color: rgba(189, 214, 132, 0.75);
  transition: all .2s;
}
/* line 73, ../sass/enter.scss */
.enter-form form .enter-form_bottom button:hover, .enter-form form .enter-form_bottom button:focus {
  color: #fff;
  background-color: #10222b;
}
