.category-update .form-buttons{
    display: flex;
    justify-content: space-between;
}
.category-update .redactor-editor{
    padding: 10px;
}

#filter-GridView tbody tr :nth-child(4),
#filter-GridView tbody tr :nth-child(5){
    text-align: center;
}
#filter-GridView tbody tr span[class~=glyphicon-ok]{
    color: #398439;
}

/*#filter-GridView tbody tr span[class~=glyphicon-remove],*/
/*#filter-GridView tbody tr span[class~=glyphicon-trash]{*/
    /*color: #cf0000;*/
/*}*/
